.container{
  color: white;
  font-family: 'Arial', sans-serif;
  line-height: 1.6; 
}
.img {
  width: 100%;
  max-width: 400px; 
  object-fit: cover;
  height: auto;   
  min-height: 300px;
  border: 2px solid #444;     
  margin-left: 0 auto;
  display: block;
}
.biobild{
  flex-wrap: wrap;
  display: flex;
  gap: 75px;
}