// Positioning of buttons in cards
// (at the bottom of the column)
.card {
  .col:has(button) {
    position: relative;
    padding-bottom: 40px;
  }

  button {
    position: absolute;
    bottom: 1px;
    width: calc(100% - 1.2rem);
  }
}

// use green color when hovering light buttons
.btn-light:hover {
  background-color: #0c5c12;
  color: white;
}

// simulate hover color on button when hovering card
// (since the whole card is clickable)
.card:hover .btn-primary {
  background-color: #0c5c12;
}

// Form-switch make bigger + witdh of text overlay
.form-switch input {
  width: calc(100% + 2.5em) !important;
  height: 34.5px;
  cursor: pointer;
}

.form-switch-text {
  cursor: pointer;
  width: calc(100% - 3rem);
  margin-top: 7px;
  transition: color 0.2s;
  height: 30px;
}

.time-box {

  display: flex;
  padding: 25px;

  gap: 10px;

}

.time-box a {
  flex: 0 0 10px;
  height: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 25px;
  color: white;
  background: linear-gradient(to top right, rgb(42, 65, 46) 10%, rgb(22, 132, 49) 100%);
  text-decoration: none;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 15px;

  &:hover {
    box-shadow: 0 0 30px rgba(23, 119, 4, 0.475);
  }

  &.unavailable {

    background: linear-gradient(to top right, #651f1f 10%, rgb(212, 27, 27) 100%);
    cursor: not-allowed;

    &:hover {
      box-shadow: 0 0 30px rgb(119, 4, 4);
    }
  }
}