.movie-details-page {
    display: block;
}

.movie-cover {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    padding: 20px;
}

.movie-cover img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;

}