.movie-details-page {
    display: block;
}

.movie-cover {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    padding: 20px;
}

.movie-cover img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;

}

.time-slots {
    outline: 5px solid rgb(41, 40, 40);
    justify-items: center;
    background: linear-gradient(to bottom, rgb(47, 46, 46) 10%, rgb(0, 0, 0) 100%);
    border-radius: 15px;

}