.movie-details-page {
    display: grid;
}

.movie-box {
    display: flex;
    height: 50vh;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    justify-content: flex-end;
    //outline: 3px solid white;
}

.movie-trailer {
    flex: 1;
    min-width: o;
}

.movie-trailer iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.movie-cover {
    width: 25vh;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 20px;
    flex-shrink: 0;
}

.time-slots {
    outline: 5px solid rgb(41, 40, 40);
    justify-items: center;
    background: linear-gradient(to bottom, rgb(47, 46, 46) 10%, rgb(0, 0, 0) 100%);
    border-radius: 15px;
}

.details-container {
    gap: 10px;
    display: flex;
    //outline: 3px solid red;
}

.movie-details {
    //outline: 3px solid red;
    width: 20vw;
    text-align: center;

}

.movie-description {
    //outline: 3px solid red;
    display: block;

    max-width: 100%;
    height: auto;

    h2 {
        //text-align: center;
        margin-bottom: 10px;
    }
}