.movie-details-page {
    display: grid;
}

.movie-header {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
}

.movie-cover img {
    object-fit: cover;
    height: 30vh;
    width: fit-content;

    border-radius: 10px;
    object-fit: cover;

}