.movie-details-page {
    display: grid;
    max-width: 1000px;
}

.movie-box {
    display: flex;
    height: 50vh;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    justify-content: flex-end;
    margin-bottom: 10px;
    //outline: 3px solid white;
}

.details-container {
    background-color: #383838;
    border-radius: 14px;
    margin-bottom: 15px;
    width: 100%;
    padding: 25px;

    h1,
    h2,
    h3,
    h4,
    p {
        color: #F8F8F8;
    }
}


.movie-trailer {
    flex: 1;
    min-width: 0;
}

.movie-trailer iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.movie-cover {
    width: 25vh;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 20px;
    flex-shrink: 0;
}

//tider och datum
.tickets-card {
    background-color: #383838;
    padding: 25px;
    border-radius: 14px;
    width: 100%;
    height: 165px;
    margin-bottom: 15px;
}

.date-row {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

h1 {
    font-size: large;
    text-decoration: double;
    margin-bottom: 10px;
    color: #F8F8F8;
}

.date-button {
    background-color: #efefef;
    border: none;
    border-radius: 10px;
    padding: 10px 14px;
    min-width: 90px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 64px;
    font-size: small;




    .date {
        font-size: 0.75rem;
        color: #444;
    }

    &:hover {
        background-color: #e0e0e0;
    }

    &.active {
        background-color: #1a1a1a;
        color: white;

        .date {
            color: #ddd;
        }
    }

}

.times {
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 14px;
    width: 100%;
    height: 165px;

    .time-slots {
        display: flex;
        gap: 14px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }


    .time-button {
        text-decoration: none;
        background-color: #efefef;
        border: none;
        border-radius: 10px;
        padding: 6px 10px;
        min-width: 90px;
        text-align: center;
        cursor: pointer;
        transition: 0.2s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 64px;
        font-size: small;

        &:hover {
            background-color: #e0e0e0;
            ;
        }

        .salong {
            font-size: small;
            color: #1a1a1a;
        }

        .time {
            font-size: small;
            color: #1a1a1a;
        }
    }
}





//mobiler
@media (max-width: 768px) {

    .movie-cover {
        display: none;
    }

    .movie-box {
        //outline: 3px solid white;
        height: fit-content;
    }

    .movie-trailer {
        height: 240px;
    }

    .details-container {

        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat;
        gap: 20px;
        //outline: 3px solid white;
        margin-bottom: 10px;
        height: auto;
        align-items: center;
    }

    .movie-description {
        width: 100%;

        h2 {
            text-align: center;
        }
    }

    .details-container-p {

        display: flex;
        width: fit-content;
        gap: 10px;
        //outline: 3px solid white;
    }

    .movie-details {

        text-align: center;
        width: 100%;
    }
}