.movie-details-page {
    display: grid;
    max-width: 1000px;
}

.movie-box {
    display: flex;
    height: 50vh;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    justify-content: flex-end;
    //outline: 3px solid white;
}

.movie-trailer {
    flex: 1;
    min-width: 0;
}

.movie-trailer iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.movie-cover {
    width: 25vh;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 20px;
    flex-shrink: 0;
}

//mobiler
@media (max-width: 768px) {

    .movie-cover {
        display: none;
    }

    .movie-box {
        //outline: 3px solid white;
        height: fit-content;
    }

    .movie-trailer {
        height: 240px;
    }

    .details-container {
        border-radius: 20px;
        padding: 3px;
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat;
        gap: 20px;
        //outline: 3px solid white;
        margin-bottom: 10px;
        height: auto;
        align-items: center;
    }

    .movie-description {
        width: 100%;

        h2 {
            text-align: center;
        }
    }

    .details-container-p {

        display: flex;
        width: fit-content;
        gap: 10px;
        //outline: 3px solid white;
    }

    .movie-details {

        text-align: center;
        width: 100%;
    }
}



.time-slots {
    outline: 5px solid rgb(41, 40, 40);
    justify-items: center;
    background: linear-gradient(to bottom, rgb(47, 46, 46) 10%, rgb(0, 0, 0) 100%);
    border-radius: 15px;
    overflow: hidden;
}

.details-container {
    gap: 10px;
    display: flex;
    //outline: 3px solid red;
}

.movie-details {
    //outline: 3px solid red;
    width: 20vw;
    text-align: center;

}

.movie-description {
    //outline: 3px solid red;
    display: block;

    max-width: 100%;
    height: auto;

    h2 {
        //text-align: center;
        margin-bottom: 10px;
    }
}