#root {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.site-footer {
  background: radial-gradient(circle at top, #410000 0%, #010820 100%);
  color: white;
  padding: 55px 0 10px 0; 
  border-top: 2px solid #e50914;
}
.site-footer {
  padding-top: 30px;
}

.footer-right-wrapper {
  display: flex;
  justify-content: flex-end;   
  gap: 20px;                   
  flex-wrap: wrap;             
}

.footer-section {
  margin-bottom: 8px;
}

.F-Info:first-child {
  align-items: end;
}

.social-stack {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center; 
}

.footer-section {
  margin-bottom: 30px; 
  margin-left: 50px;
}
.footer-content {
  gap: 1000px;
}

.footer-title {
  margin-bottom: 6px;
  font-size: 25px;
  letter-spacing: 1px;
}

.social-stack,
.nav-stack {
  gap: 5px; 
}

.social-stack ion-icon {
  font-size: 22px;
  color: rgb(65, 64, 64);
  transition: 0.2s ease
}

.social-stack ion-icon:hover {
  transform: scale(1.15);
  color: #e50914;
}

.nav-stack {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-stack a {
  color: rgb(65, 64, 64);
  text-decoration: none;
  transition: 0.2s ease;
}

.nav-stack a:hover {
  color: #e50914;
}

.H-line {
  border: none;
  height: 1px;
  background-color: rgba(255, 4, 4, 0.2);
  margin: 20px 0;
  pointer-events: none;
}

.copyright {
  text-align: start;
  padding: 8px 0 12px 0;
  font-size: 13px;
}
.footer-socials {
  display: flex;
  align-items: start;
  gap: 8px;
  justify-content: flex-start;
}


.Social-label {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  opacity: 8;
  margin-bottom: 10px;
  color: rgb(65, 64, 64);
}