.booking-page {
    h1 {
        text-align: center;
    }
}

.bookingdetail {
    margin-top: 7%;
    display: flex;
    border-radius: 15px;
    
    background-color: rgb(26, 24, 24);
    position: relative;
    
    .booking-poster
    {
        margin-left: 15%;
        width: 100%;
    }
    .seats-pic
    {
        width: 150%;
        margin-left: 10%;
    }
  
    .formlabel {
    
        margin: 10px;
        flex-direction: column;
        position: absolute;
    
        width: 200px;
    
        .date-picker {
            opacity: 80%;
            margin-bottom: 30px;
        }
    
    }
}

.booking-poster {
    width: 25%;
    height: auto;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;

        }

.poster-text {

    p {
        margin-top: 15px;
        width: 300px;
    }

}

.seats-pic {
    aspect-ratio: 3/2;
    

    border-radius: 15px;
}


.bookinginformation {
    p {
        color: rgb(0, 0, 0);
    }
    margin-top: 12%;
}

.bookinginformation .alert-success {
    background-color: #fafafa; // Ljusröd bakgrund
    border-color: rgb(0, 0, 0); // Röd ram
    color: rgb(0, 0, 0); // Mörkröd text
}

.nicklas {
    button {
        width: 100%;
        background-color: rgb(10, 75, 10);
        opacity: 85%;

        &:hover {
            background-color: rgb(10, 61, 10);
        }
    }


}

@media (max-width: 768px) {
    
    .bookingdetail{
        position: relative;
            .seats-pic
    {
        width: 80%;
        position: relative;
    }
    .booking-poster
    {
        margin-left: 83%; 
    }
    .formlabel{
        z-index: 10;
        width: 10%;
        #date{
            display: none;
        }
    }

    .booking-page {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    }
    .booking-poster {
        border-radius: 0px;
        margin-left: 0%;
        position: absolute;
        align-items: center;
        max-width: 50px;
        z-index: 10;
    }

/*     .seats-pic
    {
        width: 80%;
        position: relative;
    } */

    .poster-text {
        align-items: center;
        text-align: center;
        margin-left: 0%;

        p {
            margin-left: 0;
            width: 100%;
        }

    }

    .bookinginformation {
        align-items: center;
        margin-left: 0%;

    }

    .formlabel {
        margin-left: 0%;
    }



}
