/* ==========================================================================
   GENERAL & LAYOUT
   ========================================================================== */
.booking-page {
    h1 {
        text-align: center;
    }
}

.bookingdetail {
    margin-top: 7%;
    display: flex;
    border-radius: 15px;
    background-color: rgb(26, 24, 24);
    padding: 65px 120px;
    min-height: 500px;   // Ger rutan en rejäl minimihöjd
    position: relative;
    justify-content: space-between; // Lägger postern till höger och innehåll i mitten

    .booking-poster {
        margin-left: 30%;
        width: 100%;
    }

    .formlabel {
        display: flex;
        flex-direction: column;
        width: 200px;

        .date-picker {
            opacity: 80%;
            margin-bottom: 30px;
        }
    }
}

.booking-poster {
    width: 250px;
    height: auto;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.poster-text {
    p {
        margin-top: 15px;
        width: 300px;
    }
}


/* ==========================================================================
   SEATS (SALONG)
   ========================================================================== */
// Huvudbehållaren för hela salongen
.theater-layout {
    flex: 1;
    display: flex;
    flex-direction: column; // Lägger duken överst och stolarna under
    align-items: center;    // Centrerar allt i mitten av skärmen

    // Själva bioduken
    .theater-screen {
        display: flex;
        flex-direction: row;
        width: 75%;
        /* height: 170px; */
        background: rgb(255, 255, 255);
        margin-bottom: 80px;
        box-shadow: 0 4px 15px rgba(255, 255, 255, 0.4); // Ger duken ett vitt sken
        border-radius: 10% 10% 0 0; // Gör duken lätt rundad för en 3D-känsla
        text-align: center;
        font-size: 12px;
        padding-top: 10px;

        p{
            margin-top: 20px;
            font-size: 1.08rem;
        }
    }
}

// Rutnätet som håller alla stolsrader
.seating-grid {
    display: flex;
    flex-direction: column; // Staplar raderna på höjden
    gap: 17px;              // Mellanrum mellan raderna
    align-items: center;    // Ser till att salongen är centrerad
    flex-direction: column;
    
}

// En enskild rad med stolar
.seat-row {
    display: flex;
    flex-direction: row;    // Lägger stolarna sida vid sida
    gap: 9px;               // Mellanrum mellan varje stol
    justify-content: center;
}

// Utseendet på en enskild stol (knappen)
.seats {
    width: 50px;
    height: 50px;
    background-color: #f9f6f7; // Standardfärg när sätet är ledigt
    border-radius: 4px;        // Lite rundade hörn
    display: flex;
    justify-content: center;   // Centrerar texten (numret) vågrätt
    align-items: center;       // Centrerar texten (numret) lodrätt
    color: rgba(255, 255, 255, 0); // Döljer numret när stolen inte är vald
    font-size: 0.9rem;
    cursor: pointer;           // Muspekaren ändras till en hand vid hover
}

// Döljer själva checkbox-rutan men behåller den för datorn/skärmläsare
.Visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    transition: transform 0.2s ease;
}

// STYLING NÄR MAN KLICKAR (Valt säte)
.seats {
    /* Standardläge: Inga ikoner syns på tomma säten */
    span {
        .check-icon, .remove-icon {
            display: none;
        }
    }

    /* NÄR SÄTET ÄR VALT (Grön ruta) */
    &:has(input:checked) {
        background-color: #4ade80;
        
        .check-icon {
            display: block; // Visa gubben med bocken
            color: white;
        }

        /* NÄR MAN HOVERAR ÖVER EN REDAN VALD RUTA */
        &:hover {
            background-color: #d32424; // Blir röd för att visa "ta bort"
            
            .check-icon {
                display: none; // Göm bocken
            }
            .remove-icon {
                display: block; // Visa gubben med krysset istället
                color: white;
            }
        }
    }
}

.seats:hover {
    background-color: #d1d1d1; // Blir lite gråare
    transform: scale(1.08);     // Stolen blir lite större (pop-out effekt)
    box-shadow: 0 4px 15px rgba(121, 121, 121, 0.4); // Lägger till en skugga
}

.custom-icon {
    font-size: 2rem; // Eller t.ex. 40px
    color: #4ade80;  // Du kan också passa på att ändra färg här
}

/* ==========================================================================
   CHOOSE TICKETS (BILJETTVÄLJARE)
   ========================================================================== */
.ticket-selector {
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    padding: 6px 20px;
    border-radius: 20px;

    .resetButton {
        margin-right: 0px;
        padding: 10px 5px;
        display: flex;
        justify-content: flex-end;

        button {
            background-color: rgba(214, 214, 214, 0.815);
            color: black;
            width: 130px;

            &:hover { background-color: rgb(255, 255, 255); }
            &:active { background-color: rgba(255, 255, 255, 0.904); color: black; }
        }
    }
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ticketamount {
    display: flex;
    align-items: center;
    gap: 25px;

    button {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.2s ease;

        i { font-size: 23px; color: #ffffff; }
        &:hover { transform: scale(1.08); }
        &:hover i { color: rgb(88, 165, 228); }
    }

    p { margin: 0; line-height: 1; }
}

/* ==========================================================================
   BOOKING INFO & CONFIRM 
   ========================================================================== */
.bookinginformation {
    p { color: rgb(0, 0, 0); }
    margin-top: 2%;

}

.alert-success {
    background-color: #fafafa;
    border-radius: 13px;
    box-shadow: 0 8px 32px rgb(44, 34, 34);
}
.confirm-booking {
    button {
        width: 100%;
        background-color: rgb(194, 17, 17);
        opacity: 85%;
        color: #fafafa;
        border-radius: 15px;

        &:hover {
            background-color: rgb(228, 20, 20);
            color: #ffffff;
        }
    }
}

/* ==========================================================================
   BILJETTER PÅ MAILEN BOX
   ========================================================================== */
    .entermail
    {
    
        margin-top: 2%;
        #biljettinfo
        {
            color: grey;

        }

        .biljettermail{
            margin-left: 0.4%;
        }

        .inputmail{
            background-color: rgb(240, 240, 240);
            border-color: 1px rgb(121, 121, 121);
        }
    }




/* ==========================================================================
   MOBILE VIEW
   ========================================================================== */
@media (max-width: 768px) {
    .bookingdetail {
        position: relative;
        .seats-pic { width: 80%; position: relative; }
        .booking-poster { margin-left: 83%; }
        .formlabel {
            z-index: 10;
            width: 10%;
            #date { display: none; }
        }
        .booking-page {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    .booking-poster {
        border-radius: 0px;
        margin-left: 0%;
        position: absolute;
        align-items: center;
        max-width: 50px;
        z-index: 10;
    }

    .poster-text {
        align-items: center;
        text-align: center;
        margin-left: 0%;
        p { margin-left: 0; width: 100%; }
    }

    .bookinginformation { align-items: center; margin-left: 0%; }
    .formlabel { margin-left: 0%; }
}