.booking-page {
    h1 {
        text-align: center;
    }
}

.bookingdetail {
    margin-top: 7%;
    display: flex;
    border-radius: 15px;
    
    background-color: rgb(26, 24, 24);
    position: relative;
    
    .booking-poster
    {
        margin-left: 15%;
        width: 100%;
    }
    .seats-pic
    {
        width: 150%;
        margin-left: 10%;
    }
  
    .formlabel {
    
        margin: 10px;
        flex-direction: column;
        position: absolute;
    
        width: 200px;
    
        .date-picker {
            opacity: 80%;
            margin-bottom: 30px;
        }
    
    }
}

.booking-poster {
    width: 25%;
    height: auto;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;

        }

.poster-text {

    p {
        margin-top: 15px;
        width: 300px;
    }

}

.seats-pic {
    aspect-ratio: 3/2;
    

    border-radius: 15px;
}


.bookinginformation {
    p {
        color: rgb(0, 0, 0);
    }
    margin-top: 5%;
}

.bookinginformation .alert-success {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgb(44, 34, 34);
}

.confirm-booking {
    button {
        width: 100%;
        background-color: rgb(194, 17, 17);
        opacity: 85%;
        color: #fafafa;
        border-radius: 15px;

        &:hover {
            background-color: rgb(228, 20, 20);
            color:#ffffff;
        }

    }


}

// CHOOSE TICKETS
.ticket-selector
{
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    padding: 6px 20px;
    border-radius: 20px;
    
    .resetButton
    {
        margin-right: 0px;
        padding: 10px 5px;
        display: flex;
        justify-content: flex-end;
        
        button
        {
            background-color: rgba(214, 214, 214, 0.815);
            color: black;
            width: 130px;
            &:hover
            {
                background-color: rgb(255, 255, 255);
            }
            &:active
            {
                background-color: rgba(255, 255, 255, 0.904);
                color: black;
            }
        }
    }
}


.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}


.ticketamount {
    display: flex;
    align-items: center;
    gap: 25px;
}

.ticketamount button{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}


.ticketamount button i {
    font-size: 23px;      
    color: #ffffff;        
}
.ticketamount button:hover {
    transform: scale(1.08); 
}
.ticketamount button:hover i{
    color: rgb(88, 165, 228)
}
.ticketamount p{
    margin: 0;
    line-height: 1;
}







// MOBILE VIEW
@media (max-width: 768px) {
    
    .bookingdetail{
        position: relative;
            .seats-pic
    {
        width: 80%;
        position: relative;
    }
    .booking-poster
    {
        margin-left: 83%; 
    }
    .formlabel{
        z-index: 10;
        width: 10%;
        #date{
            display: none;
        }
    }

    .booking-page {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    }
    .booking-poster {
        border-radius: 0px;
        margin-left: 0%;
        position: absolute;
        align-items: center;
        max-width: 50px;
        z-index: 10;
    }

/*     .seats-pic
    {
        width: 80%;
        position: relative;
    } */

    .poster-text {
        align-items: center;
        text-align: center;
        margin-left: 0%;

        p {
            margin-left: 0;
            width: 100%;
        }

    }

    .bookinginformation {
        align-items: center;
        margin-left: 0%;

    }

    .formlabel {
        margin-left: 0%;
    }



}
