
// Hela div classen confirmation med allt innuti
.confirmation {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-bottom: 50px; 
  margin-left: 100px;
}
 // Endast bilden
 .ava {
   width: 600px; 
   max-width: 90%; 
   height: 300px; 
   object-fit: cover; 
   border-radius: 20px;
   margin: 20px 0;
 } 
    

