
.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap:50px;
    padding: 20px;;
}

.movie-card{
    text-decoration: none;
    color:rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    h3
    {
        font-size: 20px;
    }
    
}

.movie-card img{
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
    // test
}


    .movie-card img:hover {
        transform: scale(1.03);
        }
        
