.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    padding: 20px;
    ;
}

#textabovesearchbar {
    text-align: center;
}

.movie-card {
    text-decoration: none;
    color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;

    h3 {
        font-size: 20px;
    }

    &:hover {
        .movie-title {
            color: rgb(213, 213, 213);
            text-decoration: underline;
            margin-top: 4%;
        }

        img {
            transform: scale(1.03);
            opacity: 70%;
        }
    }

}

.movie-title {
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
    padding-left: 3%;
}

.movie-genre {
    font-size: 15px;
    color: rgb(174, 174, 174);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    padding-left: 3%;
    padding-bottom: 1%;
}

#textabovesearchbar {
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px rgb(82, 82, 82);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.movie-card img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
    // test

}



.start-page {

    .mb-3 {
        max-width: 600px;
        margin: 0 auto 3rem auto;
        opacity: 50%;
    }

    .mb-3:hover {
        opacity: 70%;
        border-radius: 10px;

        #movie-title {
            color: red;
        }
    }

    .form-control {
        background-color: rgb(55, 55, 55);
        color: rgb(255, 255, 255);
        border-radius: 10px;

        &::placeholder {
            color: rgba(216, 215, 215, 0.7);
        }
    }
}